<div class="container">
    <div style="margin-top:50px; text-align:center;">
        <h1>詩人 수정하기</h1>
    </div>
    <hr>
    <%= render 'form', poet: @poet %>
    <div style="margin-top:30px; text-align:right;">
        <a href="/poets">
            <button type="button" class="btn btn-dark">목록으로</button>
        </a>
    </div>
</div>