<h3>검색 결과</h3>

<% if @matchPoets.length == 0 && @matchPoems.length == 0 %>
  검색된 시인이나 시가 없습니다. 
<% else %>
  <% if @matchPoets.length > 0 %>
    <h4>검색된 시인</h4>
      <% @matchPoets.each do |poet| %>

      <%= link_to poet.name, poet_path(poet.id) %>
      <% end %> 
    <br><br>
  <% end %>  
  <% if @matchPoems.length > 0 %>
    <h4>검색된 시</h4>
      <% @matchPoems.each do |poem| %>    
      <%= link_to poem.title, poem_path(poem.id) %>
      <% end %>
  <% end %>
<% end %>

