<%# <%= image_tag('home-image-poet.jpg')% > % >
<%# VISUAL %>
<section class="section section-visual">
    <div class="inner">
        <div class="todaypoet">
            <div class="todaypoet-title">서시</div>
            <div class="todaypoet-description">
            죽는 날까지 하늘을 우러러 <br>
            한점 부끄러움이 없기를 <br>
            잎새에 이는 바람에도 나는 괴로워했다. <br>
            <br>
            별을 노래하는 마음으로 모든 죽어가는 것들을 사랑해야지. <br>
            그리고 나에게 주어진 길을 걸어가야 겠다. <br>
            <br>
            오늘도 별이 바람에 스치운다. <br>
            </div>
        </div>
        <%# 나중에 "직접 작가가 되어 주세요!"란 문구 아래 로그인을 유도하자.  %>
        <%# <form action="" class="sign-form"></form> %>    
    </div>
</section>







