/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";


.poem-title {
    font-size: 3em;
    margin-top: 50px;
    text-align: center;
}


.poet-name {
    font-size: 1em;
    margin-top: 25px;
    text-align: right;
}

.poem-picture {
    margin-top: 30px;
    text-align: center;
}

.poem-web-info {
    margin-top: 30px;
    text-align: right;
    text-decoration: none;
}

.poem-body {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: large;
    line-height: 1.7;
}

.poem-description {
    margin-top: 10px;
    text-align: left; 

}
